<div class="container-fluid">
	<div class="row">

		<div class="col-md-12">
			<div class="page-title">Angular</div>
			<div class="magic-mike">
				<div class="bubble" ng-show="speech !== null">
					<div class="bubble-inner">
						<div class="bubble-text">{{speech}}</div>
					</div>
				</div>
				<img class="mike" src="img/mike.jpg" alt="" ng-mouseenter="speak()" ng-mouseleave="shh()" />
			</div>
		</div>

		<!--<div class="col-md-2">
			{{title}}
		</div>
		<div class="col-md-10">
			Body
		</div>-->
	</div>
</div>
